body{
  background-color: rgb(255, 239, 212);
}
hr{
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 5px -12px rgba(0, 0, 0, 0.5);
}
label,
textarea,
input {
  display: block;
  width: 100%;
}
h1 {
  text-align: center;
  margin: 1em 0 0.5em 0;
	font-family: 'Alegreya', sans-serif;
	font-size: 46px;
	color: rgb(63, 44, 14);
}
h2,h3{
  font-family: 'Acme';
	
}
a {
  color: rgb(121, 78, 10); 

  /* dark */
}
a:hover {
  color: rgb(167, 132, 17);
  /* light */
  text-decoration: none;

}
.alert-block li {
  list-style: none;
}
.post {
  margin-bottom: 1.5em;
  border-bottom: 1px dashed rgb(121, 78, 10); 
}
.post-content {
  padding-top: 1em;
  font-size: 1.4em;
  line-height: 1.4em;
  font-family: 'Arial';
  color:rgb(48, 30, 0); 
  
}
.post-functions ul {
  float: right;
}
.post-functions li {
  display: block;
  float: left;
  padding-right: 1em;
}
